.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.ipynb_checkpoints

# Ignore virtual environment directories
venv/
.env/
.venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore data files
data/
ontologies/lib


# Ignore ontologies files
ontologies/model/*.owl
ontologies/model/*.obo
ontologies/model/*.json


# outputs
outputs/