.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.ipynb_checkpoints

# Ignore virtual environment directories
venv/
.env/
.venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore data files
data/ontologies/*
!data/ontologies/.gitkeep

data/models/*
!data/models/.gitkeep

data/datasets/phenopackets/raw/*
!data/datasets/phenopackets/raw/.gitkeep

# ThirdParty code
third_party/*
!third_party/.gitkeep

# outputs
outputs/


# Ignore distribution/build files
*.egg-info/